# Crime Detection Model

## Import Datasets

In [3]:
import pandas as pd
import numpy as np

In [13]:
crime_dataset1 = pd.read_csv('../datasets/2015-crime-boston.csv')
crime_dataset2 = pd.read_csv('../datasets/2016-crime-boston.csv')
crime_dataset3 = pd.read_csv('../datasets/2017-crime-boston.csv')
crime_dataset4 = pd.read_csv('../datasets/2018-crime-boston.csv')
crime_dataset5 = pd.read_csv('../datasets/2019-crime-boston.csv')
crime_dataset6 = pd.read_csv('../datasets/2020-crime-boston.csv')
crime_dataset7 = pd.read_csv('../datasets/2021-crime-boston.csv')
crime_dataset8 = pd.read_csv('../datasets/2022-crime-boston.csv')
crime_dataset9 = pd.read_csv('../datasets/2023-present-crime-boston.csv')

/var/folders/6c/9skhv5gd3dd6z1g2y4xnf3140000gn/T/ipykernel_67626/1611742100.py:5: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  crime_dataset5 = pd.read_csv('../datasets/2019-crime-boston.csv')
/var/folders/6c/9skhv5gd3dd6z1g2y4xnf3140000gn/T/ipykernel_67626/1611742100.py:6: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  crime_dataset6 = pd.read_csv('../datasets/2020-crime-boston.csv')
/var/folders/6c/9skhv5gd3dd6z1g2y4xnf3140000gn/T/ipykernel_67626/1611742100.py:7: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  crime_dataset7 = pd.read_csv('../datasets/2021-crime-boston.csv')
/var/folders/6c/9skhv5gd3dd6z1g2y4xnf3140000gn/T/ipykernel_67626/1611742100.py:8: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  crime_dataset8 = pd.read_csv('../datasets/2022-crime-boston.csv')
/var/folders/6c/9skhv5gd3dd6z1g2y4xnf3140000gn/T/ipykernel_67626/1611742100.py:9: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  crime_dataset9 = pd.read_csv('../datasets/2023-present-crime-boston.csv')

## Pre-processing 1

In [15]:
for i in range(1,10):
    print(f"Dataset {i} shape: ", eval(f"crime_dataset{i}.shape"))

print(f"Total rows in all datasets: {sum([eval(f'crime_dataset{i}.shape[0]') for i in range(1,10)])}")

Dataset 1 shape:  (53597, 17)
Dataset 2 shape:  (99430, 17)
Dataset 3 shape:  (101338, 17)
Dataset 4 shape:  (98888, 17)
Dataset 5 shape:  (87184, 17)
Dataset 6 shape:  (70894, 17)
Dataset 7 shape:  (71721, 17)
Dataset 8 shape:  (73852, 17)
Dataset 9 shape:  (218897, 17)
Total rows in all datasets: 875801

In [16]:
combined_crime_data = pd.concat([eval(f"crime_dataset{i}") for i in range(1,10)], ignore_index=True)
print("Combined dataset shape: ", combined_crime_data.shape)

Combined dataset shape:  (875801, 17)

In [20]:
combined_crime_data.head(10)

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I172040657,2629,Harassment,HARASSMENT,C11,397,NaN,2015-06-15 00:00:00,2015,6,Monday,0,Part Two,MELBOURNE ST,42.291093,-71.065945,"(42.29109287, -71.06594539)"
1,I182061268,3201,Property Lost,PROPERTY - LOST,NaN,,NaN,2015-06-15 00:00:00,2015,6,Monday,0,Part Three,BERNARD,NaN,NaN,NaN
2,I162013546,3201,Property Lost,PROPERTY - LOST,B3,433,NaN,2015-06-15 00:00:00,2015,6,Monday,0,Part Three,NORFOLK ST,42.283634,-71.082813,"(42.28363434, -71.08281320)"
3,I152051083,3115,Investigate Person,INVESTIGATE PERSON,A7,20,NaN,2015-06-15 00:00:00,2015,6,Monday,0,Part Three,PARIS ST,42.377023,-71.032247,"(42.37702319, -71.03224730)"
4,I152059178,2647,Other,THREATS TO DO BODILY HARM,C11,359,NaN,2015-06-15 00:00:00,2015,6,Monday,0,Part Two,WASHINGTON ST,42.293606,-71.071887,"(42.29360585, -71.07188650)"
5,I152049897,3201,Property Lost,PROPERTY - LOST,B2,282,NaN,2015-06-15 00:00:00,2015,6,Monday,0,Part Three,WASHINGTON ST,42.328663,-71.085634,"(42.32866284, -71.08563401)"
6,I152054279,1106,Confidence Games,FRAUD - CREDIT CARD / ATM FRAUD,B3,456,NaN,2015-06-15 00:00:00,2015,6,Monday,0,Part Two,HARLEM ST,42.300217,-71.080979,"(42.30021684, -71.08097940)"
7,I152051083,3130,Search Warrants,SEARCH WARRANT,A7,20,NaN,2015-06-15 00:00:00,2015,6,Monday,0,Part Three,PARIS ST,42.377023,-71.032247,"(42.37702319, -71.03224730)"
8,I152067251,1102,Fraud,FRAUD - FALSE PRETENSE / SCHEME,A1,93,NaN,2015-06-15 00:00:00,2015,6,Monday,0,Part Two,FANEUIL HALL SQ,42.360205,-71.056208,"(42.36020464, -71.05620816)"
9,I152049588,614,Larceny From Motor Vehicle,LARCENY THEFT FROM MV - NON-ACCESSORY,D4,155,NaN,2015-06-15 00:01:00,2015,6,Monday,0,Part One,CONCORD SQ,42.341384,-71.078989,"(42.34138415, -71.07898883)"

In [19]:
combined_crime_data.columns

Index(['INCIDENT_NUMBER', 'OFFENSE_CODE', 'OFFENSE_CODE_GROUP',
       'OFFENSE_DESCRIPTION', 'DISTRICT', 'REPORTING_AREA', 'SHOOTING',
       'OCCURRED_ON_DATE', 'YEAR', 'MONTH', 'DAY_OF_WEEK', 'HOUR', 'UCR_PART',
       'STREET', 'Lat', 'Long', 'Location'],
      dtype='object')

In [32]:
predict_offense_df = combined_crime_data[['OFFENSE_CODE_GROUP', 'DISTRICT', 'STREET', 'UCR_PART']]
predict_offense_time_df = combined_crime_data[['HOUR', 'DISTRICT', 'STREET']]

In [22]:
predict_offense_df.head()

   OFFENSE_CODE_GROUP DISTRICT         STREET    UCR_PART
0          Harassment      C11   MELBOURNE ST    Part Two
1       Property Lost      NaN        BERNARD  Part Three
2       Property Lost       B3     NORFOLK ST  Part Three
3  Investigate Person       A7       PARIS ST  Part Three
4               Other      C11  WASHINGTON ST    Part Two

In [33]:
predict_offense_time_df.head()

   HOUR DISTRICT         STREET
0     0      C11   MELBOURNE ST
1     0      NaN        BERNARD
2     0       B3     NORFOLK ST
3     0       A7       PARIS ST
4     0      C11  WASHINGTON ST

In [35]:
print(predict_offense_df.isnull().sum())
print(predict_offense_time_df.isnull().sum())

OFFENSE_CODE_GROUP    522548
DISTRICT                4748
STREET                 11888
UCR_PART              522645
dtype: int64
HOUR            0
DISTRICT     4748
STREET      11888
dtype: int64

In [40]:
combined_crime_data[combined_crime_data['UCR_PART'] == 'Part One'].head(10)

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
9,I152049588,614,Larceny From Motor Vehicle,LARCENY THEFT FROM MV - NON-ACCESSORY,D4,155,NaN,2015-06-15 00:01:00,2015,6,Monday,0,Part One,CONCORD SQ,42.341384,-71.078989,"(42.34138415, -71.07898883)"
24,I152049486,619,Larceny,LARCENY ALL OTHERS,C6,914,NaN,2015-06-15 02:00:00,2015,6,Monday,2,Part One,GENERAL LAWRENCE J LOGAN,42.327204,-71.053189,"(42.32720403, -71.05318949)"
25,I152049483,413,Aggravated Assault,ASSAULT - AGGRAVATED - BATTERY,D14,782,NaN,2015-06-15 02:00:00,2015,6,Monday,2,Part One,CAMBRIDGE ST,42.352593,-71.140284,"(42.35259348, -71.14028431)"
27,I152049607,617,Larceny,LARCENY THEFT FROM BUILDING,A1,115,NaN,2015-06-15 02:12:00,2015,6,Monday,2,Part One,LINCOLN ST,42.352018,-71.058116,"(42.35201794, -71.05811581)"
28,I152049485,413,Aggravated Assault,ASSAULT - AGGRAVATED - BATTERY,B3,444,NaN,2015-06-15 02:45:00,2015,6,Monday,2,Part One,ESMOND ST,42.298620,-71.085110,"(42.29861988, -71.08511004)"
32,I152049592,724,Auto Theft,AUTO THEFT,C11,345,NaN,2015-06-15 03:00:00,2015,6,Monday,3,Part One,MONTELLO ST,42.302422,-71.061229,"(42.30242197, -71.06122871)"
34,I152049662,619,Larceny,LARCENY ALL OTHERS,C6,191,NaN,2015-06-15 04:48:00,2015,6,Monday,4,Part One,DORCHESTER AVE,42.329038,-71.056945,"(42.32903760, -71.05694505)"
45,I152049502,423,Aggravated Assault,ASSAULT - AGGRAVATED,B3,472,NaN,2015-06-15 07:45:00,2015,6,Monday,7,Part One,WOODHAVEN ST,42.271055,-71.097539,"(42.27105479, -71.09753898)"
47,I152053893,619,Larceny,LARCENY ALL OTHERS,D4,172,NaN,2015-06-15 08:00:00,2015,6,Monday,8,Part One,ALBANY ST,42.334288,-71.072395,"(42.33428841, -71.07239518)"
48,I152052877,724,Auto Theft,AUTO THEFT,B3,439,NaN,2015-06-15 08:00:00,2015,6,Monday,8,Part One,STRATTON ST,42.289285,-71.086678,"(42.28928493, -71.08667781)"

In [36]:
combined_crime_data[combined_crime_data['OFFENSE_CODE_GROUP'].isnull()].head(20)

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
353253,192017144,3201,NaN,PROPERTY - LOST,D4,167,0,2019-01-01 00:00:00,2019,1,Tuesday,0,NaN,HARRISON AVE,42.334961,-71.075126,"(42.33496089, -71.07512604)"
353254,192001553,3201,NaN,PROPERTY - LOST,D4,128,0,2019-01-01 00:00:00,2019,1,Tuesday,0,NaN,STANHOPE ST,42.348689,-71.072580,"(42.34868906, -71.07257996)"
353255,192000804,2629,NaN,HARASSMENT,B3,417,0,2019-01-01 00:00:00,2019,1,Tuesday,0,NaN,MORA ST,42.282082,-71.073649,"(42.28208187, -71.07364878)"
353256,192065160,619,NaN,LARCENY ALL OTHERS,NaN,,0,2019-01-01 00:00:00,2019,1,Tuesday,0,NaN,BSTN MA,NaN,NaN,NaN
353257,192007583,2647,NaN,THREATS TO DO BODILY HARM,C11,393,0,2019-01-01 00:00:00,2019,1,Tuesday,0,NaN,FLORIDA ST,42.287877,-71.058397,"(42.28787659, -71.05839667)"
353258,192042989,3201,NaN,PROPERTY - LOST,D4,,0,2019-01-01 00:00:00,2019,1,Tuesday,0,NaN,HARRISON AVE,42.334961,-71.075126,"(42.33496089, -71.07512604)"
353259,192020384,3205,NaN,M/V PLATES - LOST,B2,330,0,2019-01-01 00:00:00,2019,1,Tuesday,0,NaN,COLUMBIA RD,42.305247,-71.080894,"(42.30524741, -71.08089422)"
353260,192033744,2629,NaN,HARASSMENT,A1,77,0,2019-01-01 00:00:00,2019,1,Tuesday,0,NaN,NEW SUDBURY ST,42.361838,-71.059765,"(42.36183845, -71.05976493)"
353261,192014219,3201,NaN,PROPERTY - LOST,D4,165,0,2019-01-01 00:00:00,2019,1,Tuesday,0,NaN,HARRISON AVE,42.343025,-71.064940,"(42.34302515, -71.0649397)"
353262,192024554,1102,NaN,FRAUD - FALSE PRETENSE / SCHEME,B2,266,0,2019-01-01 00:00:00,2019,1,Tuesday,0,NaN,WINTHROP ST,42.325062,-71.078951,"(42.32506211, -71.07895083)"
353263,192044182,2629,NaN,HARASSMENT,E13,304,0,2019-01-01 00:00:00,2019,1,Tuesday,0,NaN,WASHINGTON ST,42.316671,-71.097437,"(42.31667103, -71.09743708)"
353264,212012356,2914,NaN,VAL - OPERATING W/O AUTHORIZATION LAWFUL,C11,,0,2019-01-01 00:00:00,2019,1,Tuesday,0,NaN,CLAYBOURNE ST,42.297555,-71.059709,"(42.29755532959655, -71.05970910242573)"
353265,212013255,1102,NaN,FRAUD - FALSE PRETENSE / SCHEME,E18,,0,2019-01-01 00:00:00,2019,1,Tuesday,0,NaN,HUNTINGTON AVE,42.256216,-71.124019,"(42.256215920402155, -71.12401947329023)"
353266,192001103,1107,NaN,FRAUD - IMPERSONATION,A1,70,0,2019-01-01 00:00:00,2019,1,Tuesday,0,NaN,CHESTNUT ST,42.357640,-71.067032,"(42.35763979, -71.06703209)"
353267,192024491,3201,NaN,PROPERTY - LOST,C11,351,0,2019-01-01 00:00:00,2019,1,Tuesday,0,NaN,DICKENS ST,42.301176,-71.056245,"(42.30117635, -71.05624474)"
353268,192026927,3201,NaN,PROPERTY - LOST,A1,77,0,2019-01-01 00:00:00,2019,1,Tuesday,0,NaN,NEW SUDBURY ST,42.361838,-71.059765,"(42.36183845, -71.05976493)"
353269,192047757,1107,NaN,FRAUD - IMPERSONATION,D4,273,0,2019-01-01 00:00:00,2019,1,Tuesday,0,NaN,SHAWMUT AVE,42.336324,-71.079561,"(42.33632374, -71.07956051)"
353270,192038615,3201,NaN,PROPERTY - LOST,C11,351,0,2019-01-01 00:00:00,2019,1,Tuesday,0,NaN,DICKENS ST,42.301176,-71.056245,"(42.30117635, -71.05624474)"
353271,202007729,3115,NaN,INVESTIGATE PERSON,C11,,0,2019-01-01 00:00:00,2019,1,Tuesday,0,NaN,HOLIDAY ST,42.297555,-71.059709,"(42.29755532959655, -71.05970910242573)"
353272,192097179,2670,NaN,HARASSMENT/ CRIMINAL HARASSMENT,C11,,0,2019-01-01 00:00:00,2019,1,Tuesday,0,NaN,WESTVILLE ST,42.297555,-71.059709,"(42.29755532959655, -71.05970910242573)"

### (Since we cannot decide what UCR_PART and OFFENSE_CODE_GROUP values to give to the null values, we will have to delete the null rows)

In [42]:
predict_offense_df = predict_offense_df.dropna()
predict_offense_time_df = predict_offense_time_df.dropna()

In [43]:
print(predict_offense_df.shape)
print(predict_offense_time_df.shape)

(341156, 4)
(860240, 3)

In [44]:
predict_offense_df["STREET"].value_counts()

STREET
WASHINGTON ST     15808
BLUE HILL AVE      8638
BOYLSTON ST        8041
DORCHESTER AVE     5684
TREMONT ST         5315
                  ...
DUDLEY MBTA           1
ALNA PL               1
FORYSTH               1
SIXTH ST              1
ANCHOR ST             1
Name: count, Length: 4393, dtype: int64

In [45]:
predict_offense_df["DISTRICT"].value_counts()

DISTRICT
B2     54288
C11    46706
D4     43823
B3     39213
A1     37627
C6     24635
D14    21769
E13    18831
E18    18712
E5     14443
A7     14050
A15     7059
Name: count, dtype: int64

## Visualization

In [3]:
# ====== CELL 0: LOAD ALL YEARS & STANDARDIZE COLUMNS ======
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Correct path where your uploaded CSVs are stored
data_path = "../datasets"


# List of your uploaded files (exact names)
crime_files = [
    "2015-crime-boston.csv",
    "2016-crime-boston.csv",
    "2017-crime-boston.csv",
    "2018-crime-boston.csv",
    "2019-crime-boston.csv",
    "2020-crime-boston.csv",
    "2021-crime-boston.csv",
    "2022-crime-boston.csv",
    "2023-present-crime-boston.csv",
]

# Add path prefix
crime_files = [os.path.join(data_path, f) for f in crime_files]

# Columns we care about
_possible_cols = [
    "INCIDENT_NUMBER","Incident Number","incident_number","CMPNO","ID",
    "OCCURRED_ON_DATE","Occured_On_Date","occurred_on_date","Date","DATE","datetime","FROMDATE","Incident_Datetime",
    "OFFENSE_CODE_GROUP","Offense Code Group","offense_code_group","OFFENSE_DESCRIPTION","Offense Description","offense","TYPE","UCR_PART",
    "HOUR","Hour","hour",
    "DAY_OF_WEEK","Day_of_Week","day_of_week","DOW","Weekday","weekday",
    "Lat","LATITUDE","Latitude","lat",
    "Long","LONGITUDE","Longitude","long","lon","Lng"
]

dfs = []
for f in crime_files:
    if not os.path.exists(f):
        print(f"Skipping (not found): {f}")
        continue
    try:
        df = pd.read_csv(f, low_memory=False, encoding="utf-8", on_bad_lines="skip")
    except Exception as e:
        print(f"Could not read {f}: {e}")
        continue

    keep = [c for c in df.columns if c in _possible_cols]
    if not keep:
        print(f"No expected columns in {f}, skipping")
        continue

    df = df[keep].copy()
    df["__source_file"] = os.path.basename(f)
    dfs.append(df)

if not dfs:
    raise RuntimeError("No usable crime CSVs found. Double-check the path and filenames.")

raw = pd.concat(dfs, ignore_index=True)

# --- standardize "best guess" columns ---
def col_like(cands):
    cl = {c.lower(): c for c in raw.columns}
    for c in cands:
        if c.lower() in cl: return cl[c.lower()]
    for k in cl:
        if any(t in k for t in ["occur","date","time"]): return cl[k]
    return None

def col_type():
    cands = ["OFFENSE_CODE_GROUP","OFFENSE_DESCRIPTION","offense","TYPE","UCR_PART"]
    for c in cands:
        if c in raw.columns: return c
    for c in raw.columns:
        cl = c.lower()
        if "offense" in cl or ("incident" in cl and "type" in cl): return c
    return None

def col_hour():
    for c in ["HOUR","Hour","hour"]:
        if c in raw.columns: return c
    return None

def col_dow():
    for c in ["DAY_OF_WEEK","Day_of_Week","day_of_week","DOW","Weekday","weekday"]:
        if c in raw.columns: return c
    return None

def col_id():
    for c in ["INCIDENT_NUMBER","Incident Number","incident_number","CMPNO","ID"]:
        if c in raw.columns: return c
    for c in raw.columns:
        if "incident" in c.lower() and ("num" in c.lower() or "id" in c.lower()): return c
    return None

def col_lat():
    for c in ["Lat","LATITUDE","Latitude","lat"]:
        if c in raw.columns: return c
    return None

def col_lon():
    for c in ["Long","LONGITUDE","Longitude","long","lon","Lng"]:
        if c in raw.columns: return c
    return None

dt_col = col_like(["OCCURRED_ON_DATE","Occured_On_Date","occurred_on_date","Date","DATE","datetime","FROMDATE","Incident_Datetime"])
type_col = col_type()
hour_col = col_hour()
dow_col = col_dow()
id_col = col_id()
lat_col = col_lat()
lon_col = col_lon()

work = raw.copy()

# Parse datetime
if dt_col is not None:
    work["_dt"] = pd.to_datetime(work[dt_col], errors="coerce", cache=True)
else:
    work["_dt"] = pd.NaT

# Hour
if hour_col is not None:
    work["_hour"] = pd.to_numeric(work[hour_col], errors="coerce")
else:
    work["_hour"] = work["_dt"].dt.hour

# Day-of-week
if dow_col is not None:
    work["_dow"] = work[dow_col].astype(str).str.strip()
else:
    work["_dow"] = work["_dt"].dt.day_name()

# Year/Month
work["_year"]  = work["_dt"].dt.year
work["_month"] = work["_dt"].dt.to_period("M").astype(str)

# Crime type
if type_col is not None:
    work["_type"] = work[type_col].astype(str).str.strip()
else:
    work["_type"] = "Unknown"

# Lat/Lon
work["_lat"] = pd.to_numeric(work[lat_col], errors="coerce") if lat_col else np.nan
work["_lon"] = pd.to_numeric(work[lon_col], errors="coerce") if lon_col else np.nan

# Keep index reference
work["_row_index"] = work.index

print("Columns detected:")
print(dict(dt_col=dt_col, type_col=type_col, hour_col=hour_col, dow_col=dow_col,
           id_col=id_col, lat_col=lat_col, lon_col=lon_col))
print("Rows:", len(work))

Columns detected:
{'dt_col': 'OCCURRED_ON_DATE', 'type_col': 'OFFENSE_CODE_GROUP', 'hour_col': 'HOUR', 'dow_col': 'DAY_OF_WEEK', 'id_col': 'INCIDENT_NUMBER', 'lat_col': 'Lat', 'lon_col': 'Long'}
Rows: 875801

In [7]:
### A) Rows to drop detector (core for robustness)

In [8]:
# ====== CELL A: FLAG ROWS TO DROP (invalid/missing/duplicates/outliers) ======
to_drop_reasons = []

# invalid datetime
mask_bad_dt = work["_dt"].isna()
to_drop_reasons.append(pd.DataFrame({"_row_index": work.index[mask_bad_dt], "reason": "invalid_or_missing_datetime"}))

# invalid hour (not in 0..23)
mask_bad_hr = work["_hour"].isna() | (work["_hour"] < 0) | (work["_hour"] > 23)
to_drop_reasons.append(pd.DataFrame({"_row_index": work.index[mask_bad_hr], "reason": "invalid_hour"}))

# missing/empty type
mask_bad_type = work["_type"].isna() | (work["_type"].str.strip() == "") | (work["_type"].str.lower() == "nan")
to_drop_reasons.append(pd.DataFrame({"_row_index": work.index[mask_bad_type], "reason": "missing_type"}))

# geo bounds (rough Boston box; tweak if too strict)
# Boston approx: lat 42.2242.43, lon -71.20-70.98
mask_bad_geo = (
    work["_lat"].isna() | work["_lon"].isna() |
    (work["_lat"] < 42.22) | (work["_lat"] > 42.43) |
    (work["_lon"] < -71.20) | (work["_lon"] > -70.98)
)
to_drop_reasons.append(pd.DataFrame({"_row_index": work.index[mask_bad_geo], "reason": "invalid_geo_out_of_bounds"}))

# duplicates by INCIDENT_NUMBER-style id (if present)
if id_col is not None:
    dup_mask = work.duplicated(subset=[id_col], keep=False)
    to_drop_reasons.append(pd.DataFrame({"_row_index": work.index[dup_mask], "reason": "duplicate_incident_id"}))

# IQR outliers for numeric columns we care about
def iqr_outliers(s: pd.Series):
    s2 = s.dropna()
    if s2.empty: return pd.Series(False, index=s.index)
    q1, q3 = s2.quantile([0.25, 0.75])
    iqr = q3 - q1
    if iqr == 0: return pd.Series(False, index=s.index)
    lo, hi = q1 - 1.5*iqr, q3 + 1.5*iqr
    return ((s < lo) | (s > hi)).fillna(False)

for c in ["_hour","_lat","_lon"]:
    m = iqr_outliers(work[c])
    to_drop_reasons.append(pd.DataFrame({"_row_index": work.index[m], "reason": f"iqr_outlier_{c}"}))

rows_to_drop = pd.concat(to_drop_reasons, ignore_index=True).drop_duplicates(["_row_index","reason"])
rows_to_drop = rows_to_drop.merge(work[["_row_index","__source_file"]], on="_row_index", how="left").sort_values("_row_index")

print("Flagged rows:", len(rows_to_drop), "unique rows:", rows_to_drop["_row_index"].nunique())
rows_to_drop.head(10)

Flagged rows: 887283 unique rows: 622036

        _row_index                     reason          __source_file
741445           1  invalid_geo_out_of_bounds  2015-crime-boston.csv
791221           3      duplicate_incident_id  2015-crime-boston.csv
791222           7      duplicate_incident_id  2015-crime-boston.csv
791223          22      duplicate_incident_id  2015-crime-boston.csv
791224          23      duplicate_incident_id  2015-crime-boston.csv
791225          28      duplicate_incident_id  2015-crime-boston.csv
791226          29      duplicate_incident_id  2015-crime-boston.csv
864571          36           iqr_outlier__lon  2015-crime-boston.csv
864572          38           iqr_outlier__lon  2015-crime-boston.csv
791227          66      duplicate_incident_id  2015-crime-boston.csv

In [9]:
clean = work[~work.index.isin(rows_to_drop["_row_index"])].copy()
print("Clean rows:", len(clean))

Clean rows: 253765

In [ ]:
### 1) Time-series plot (crime rate over time)