# Boston Area Assessment

## Import Datasets

In [1]:
import pandas as pd
import numpy as np

In [2]:
price_dataset1 = pd.read_csv('../datasets/price_datasets/fy2015.csv')
price_dataset2 = pd.read_csv('../datasets/price_datasets/fy2016.csv')
price_dataset3 = pd.read_csv('../datasets/price_datasets/fy2017.csv')
price_dataset4 = pd.read_csv('../datasets/price_datasets/fy2018.csv')
price_dataset5 = pd.read_csv('../datasets/price_datasets/fy2019.csv')
price_dataset6 = pd.read_csv('../datasets/price_datasets/fy2020.csv')
price_dataset7 = pd.read_csv('../datasets/price_datasets/fy2021.csv')
price_dataset8 = pd.read_csv('../datasets/price_datasets/fy2022.csv')
price_dataset9 = pd.read_csv('../datasets/price_datasets/fy2023.csv')
price_dataset9 = pd.read_csv('../datasets/price_datasets/fy2024.csv')
price_dataset9 = pd.read_csv('../datasets/price_datasets/fy2025.csv')

/var/folders/6c/9skhv5gd3dd6z1g2y4xnf3140000gn/T/ipykernel_54190/2376971093.py:2: DtypeWarning: Columns (60,63) have mixed types. Specify dtype option on import or set low_memory=False.
  price_dataset2 = pd.read_csv('../datasets/price_datasets/fy2016.csv')
/var/folders/6c/9skhv5gd3dd6z1g2y4xnf3140000gn/T/ipykernel_54190/2376971093.py:3: DtypeWarning: Columns (60,63) have mixed types. Specify dtype option on import or set low_memory=False.
  price_dataset3 = pd.read_csv('../datasets/price_datasets/fy2017.csv')
/var/folders/6c/9skhv5gd3dd6z1g2y4xnf3140000gn/T/ipykernel_54190/2376971093.py:4: DtypeWarning: Columns (15,60,63) have mixed types. Specify dtype option on import or set low_memory=False.
  price_dataset4 = pd.read_csv('../datasets/price_datasets/fy2018.csv')
/var/folders/6c/9skhv5gd3dd6z1g2y4xnf3140000gn/T/ipykernel_54190/2376971093.py:5: DtypeWarning: Columns (15,60) have mixed types. Specify dtype option on import or set low_memory=False.
  price_dataset5 = pd.read_csv('../datasets/price_datasets/fy2019.csv')
/var/folders/6c/9skhv5gd3dd6z1g2y4xnf3140000gn/T/ipykernel_54190/2376971093.py:6: DtypeWarning: Columns (6,15,27,28,29,34,35,36,37,38,39,40,41,42,44,45,46,47,48,58,59,64,65,66,67,68,69,70,72,73,74) have mixed types. Specify dtype option on import or set low_memory=False.
  price_dataset6 = pd.read_csv('../datasets/price_datasets/fy2020.csv')
/var/folders/6c/9skhv5gd3dd6z1g2y4xnf3140000gn/T/ipykernel_54190/2376971093.py:10: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  price_dataset9 = pd.read_csv('../datasets/price_datasets/fy2024.csv')
/var/folders/6c/9skhv5gd3dd6z1g2y4xnf3140000gn/T/ipykernel_54190/2376971093.py:11: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  price_dataset9 = pd.read_csv('../datasets/price_datasets/fy2025.csv')

## Preprocessing 1

In [31]:
for i in range(1,10):
    print(f"Dataset {i} shape: ", eval(f"price_dataset{i}.shape"))

print(f"Total rows in all datasets: {sum([eval(f'price_dataset{i}.shape[0]') for i in range(1,10)])}")

Dataset 1 shape:  (168115, 56)
Dataset 2 shape:  (169199, 77)
Dataset 3 shape:  (170910, 75)
Dataset 4 shape:  (172841, 75)
Dataset 5 shape:  (174668, 75)
Dataset 6 shape:  (175052, 75)
Dataset 7 shape:  (177091, 63)
Dataset 8 shape:  (178598, 64)
Dataset 9 shape:  (183445, 66)
Total rows in all datasets: 1569919

In [32]:
combined_price_data = pd.concat([eval(f"price_dataset{i}") for i in range(1,10)], ignore_index=True)
print("Combined dataset shape: ", combined_price_data.shape)

Combined dataset shape:  (1569919, 139)

In [33]:
combined_price_data.head()

,PID,CM_ID,ST_NUM,ST_NAME,ST_NAME_SUF,UNIT_NUM,ZIPCODE,full_address,PTYPE,LU,...,ST_NUM2,ZIP_CODE,MAIL_STREET_ADDRESS,MAIL_ZIP_CODE,SFYI_VALUE,GROSS_TAX,EXT_FNISHED,KITCHENS,HEAT_SYSTEM,FIREPLACES
0,1302299000_,NaN,199,SAVIN HILL,AV,NaN,02125_,199 SAVIN HILL AV,105.0,R3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1302298000_,NaN,195,SAVIN HILL,AV,NaN,02125_,195 SAVIN HILL AV,104.0,R2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1302297000_,NaN,193,SAVIN HILL,AV,NaN,02125_,193 SAVIN HILL AV,104.0,R2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1302296000_,NaN,6 8,SOUTHVIEW,ST,NaN,02125_,6 8 SOUTHVIEW ST,104.0,R2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1302295000_,NaN,10 12,SOUTHVIEW,ST,NaN,02125_,10 12 SOUTHVIEW ST,104.0,R2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
combined_price_data["KITCHENS"].value_counts()

KITCHENS
1.0    103426
0.0     35984
2.0     17583
3.0     13836
4.0       143
5.0         1
Name: count, dtype: int64

In [35]:
combined_price_data["HEAT_SYSTEM"].value_counts()

HEAT_SYSTEM
I - Indiv. Cntrl      45341
Y - Self Contained    19247
C - Common             8041
N - None                967
1                        58
Name: count, dtype: int64

In [48]:
# Since "TOTAL_VALUE" is a key column for price prediction, we keep the data points that have it
print(f"Null Values: {combined_price_data['TOTAL_VALUE'].isna().sum()}")

Null Values: 1041187

# === Visualize Start Here ===

# === Visualize Ends Here ===

In [37]:
clean_combined_price_data = combined_price_data.dropna(subset=["TOTAL_VALUE"])
print("Cleaned combined dataset shape: ", clean_combined_price_data.shape)

Cleaned combined dataset shape:  (528732, 139)

In [38]:
print("These are all the columns: \n", clean_combined_price_data.columns)

These are all the columns:
 Index(['PID', 'CM_ID', 'ST_NUM', 'ST_NAME', 'ST_NAME_SUF', 'UNIT_NUM',
       'ZIPCODE', 'full_address', 'PTYPE', 'LU',
       ...
       'ST_NUM2', 'ZIP_CODE', 'MAIL_STREET_ADDRESS', 'MAIL_ZIP_CODE',
       'SFYI_VALUE', ' GROSS_TAX ', 'EXT_FNISHED', 'KITCHENS', 'HEAT_SYSTEM',
       'FIREPLACES'],
      dtype='object', length=139)

In [39]:
clean_combined_price_data["FULL_BTH"].value_counts()

FULL_BTH
1.0     193796
2.0     131971
0.0      83808
3.0      58824
4.0       7252
6.0       1571
5.0       1381
7.0        173
8.0         91
9.0         32
13.0         4
12.0         4
17.0         3
10.0         3
15.0         2
11.0         1
14.0         1
21.0         1
Name: count, dtype: int64

In [40]:
clean_combined_price_data["BED_RMS"].value_counts()

BED_RMS
2.0     111185
3.0      81413
1.0      65697
0.0      53553
4.0      45817
6.0      30369
5.0      24503
9.0       9885
8.0       6929
7.0       6613
11.0      1177
10.0      1115
12.0       979
14.0       148
13.0        92
15.0        59
16.0         7
17.0         7
18.0         4
21.0         1
Name: count, dtype: int64

In [41]:
clean_combined_price_data = clean_combined_price_data[["ZIPCODE", "TOTAL_VALUE", "BED_RMS", "FULL_BTH"]]
clean_combined_price_data.head()

        ZIPCODE   TOTAL_VALUE  BED_RMS  FULL_BTH
1030785    2128  $719,400.00       6.0       3.0
1030786    2128  $744,800.00       3.0       3.0
1030787    2128  $730,500.00       5.0       3.0
1030788    2128  $667,900.00       5.0       3.0
1030789    2128  $714,200.00       6.0       3.0

In [42]:
clean_combined_price_data.shape

(528732, 4)

In [44]:
# Since there are certain classes with very few data points, we will remove those classes to bring balance to the dataset
# Compute counts per BED_RMS and filter rows whose BED_RMS has at least 30,000 occurrences
bed_counts = clean_combined_price_data["BED_RMS"].value_counts()
clean_combined_price_data = clean_combined_price_data[clean_combined_price_data["BED_RMS"].map(bed_counts) >= 30000]
clean_combined_price_data.shape

(388034, 4)

In [45]:
clean_combined_price_data["FULL_BTH"].value_counts()

FULL_BTH
1.0     187999
2.0     115833
0.0      47503
3.0      32249
4.0       3505
5.0        492
6.0        376
7.0         30
8.0         15
9.0          6
13.0         2
Name: count, dtype: int64

In [46]:
# Since there is a big gap of occurrences between certain classes of FULL_BTH, we will remove those classes with very few data points
# Compute counts per FULL_BTH and filter rows whose FULL_BTH has at least 30,000 occurrences
bath_counts = clean_combined_price_data["FULL_BTH"].value_counts()
clean_combined_price_data = clean_combined_price_data[clean_combined_price_data["FULL_BTH"].map(bath_counts) >= 30000]
clean_combined_price_data.shape

(383584, 4)